@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


body {
	font-family: "Arial", “Microsoft YaHei”, "黑体", sans-serif;
}


.page-header h3 {
	color: #EB3F2F;
}

.page-header small {
	margin-left: 10px;
}

.current-status {
	margin-top: 30px;
}

.error-block {
	margin-top: 80px;
}

.select-regions-form {
	margin-top: 30px;
	margin-bottom: 30px;
}

.select-regions-form .checkbox-inline {
	margin-right: 40px;
	margin-left: 0;
}

